@import url("style-general.css");

section#introduccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 45px 0px;
}

section#introduccion article {
  background-color: rgb(218, 216, 216);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

#servicios_contenedor {
  background-color: rgb(218, 216, 216);
}

#servicios_contenedor p {
  font-size: 1.2rem;
}

#hablaconexperto_recuadro img {
  margin: 20px;
  border: 1px solid whitesmoke;
  border-radius: 5%;
}

#tarjetas-servicio {
  padding: 10px 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  height: 150px;
  width: 200px;
  border: 1px solid none;
  margin: 20px;
  background-color: white;
  border-radius: 25%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tarjeta img {
  width: 45px;
  height: 40px;
  margin-right: 10px;
}

.tarjeta span {
  font-size: 1.25rem;
}

.tarjeta a {
  display: block;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid none;
  border-radius: 7px;
  color: blue;
  font-weight: 570;
  background-color: rgb(178, 178, 253);
  transition: color 0.37s ease-in-out, background 0.37s ease-in-out;
}
.tarjeta a:hover {
  background-color: rgb(197, 197, 246);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.carrusel-container {
  width: 500px; /* Ajustado al nuevo tamaño */
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #054f31;
  position: relative;
}

.carrusel {
  display: flex;
  width: 300%; /* 3 imágenes en una fila */
  transition: transform 0.5s ease-in-out;
}

.carrusel img {
  width: 500px; /* Aumentado de 300px a 500px */
  height: 350px; /* Ajustado proporcionalmente */
  object-fit: cover;
}
