<h1>Dueños de Mascotas</h1>
<section id="btn-inicial"class="acciones">
  <!-- <a type="button" class="btn" th:href="@{/cliente/add}"> <i class='bx bx-plus-circle'></i> Agregar Dueño</a> -->
</section>   
<main>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cédula</th>
        <th>Celular</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.correo }}</td>
        <td>{{ cliente.cedula }} </td>
        <td>{{ cliente.celular }}</td>
        <td><button (click)="mostrarCliente(cliente)">Select</button></td>
        <td><button (click)="eliminarCliente(cliente)">Eliminar</button></td>
        <!-- <td>
          <a type="button" th:href="@{/cliente/mostrar-cliente/{id}(id=${cliente.id})}" class="btn">
            <i class='bx bxs-show'></i>
          </a>
          <a type="button" th:href="@{/cliente/update/{id}(id=${cliente.id})}" class="btn">
            <i class='bx bx-edit'></i>
          </a>
          <a type="button" th:href="@{/cliente/delete/{id}(id=${cliente.id})}" onclick="recargarDespues()" class="btn">
            <i class='bx bx-trash' ></i>
          </a>
        </td> -->
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <!-- <app-mostrar-mascotas></app-mostrar-mascotas> -->
  <h1>Agregar Cliente</h1>
  <app-formulario-cliente></app-formulario-cliente>
</main>
<footer>
</footer>
<script>
  function recargarDespues() {
      setTimeout(() => {
          window.location.reload();
      }, 300); 
  }
</script>
