<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cliente/style-mostrar-cliente.css">
  <title>Cliente</title>
</head>
<body>
  <header>
    <h1>Informacion Cliente</h1>
  </header>
  <main>
    <section class="informacion" th:object="${cliente}">
      <div class="campos">
        <p>Nombre: <span th:text="*{nombre}"></span></p>
        <p>Correo: <span th:text="*{correo}"></span></p>
        <p>Cedula: <span th:text="*{cedula}"></span></p>
        <p>Celular: <span th:text="*{celular}"></span></p>
        <p>Mascotas: <span th:if="*{mascotas == null or mascotas.isEmpty()}">No tiene mascotas</span></p>
        <ul th:if="*{mascotas != null and !mascotas.isEmpty()}" class="mascotas">
          <li th:each="mascota: *{mascotas}">
            <img th:src="@{${mascota.foto}}" alt="Imagen de mascota" />
            <div>
              <p th:text="${mascota.nombre}"></p><br>
              <a id="boton-ver-mascota" th:href="@{/mascota/mostrar-mascota/{id}(id=${mascota.id})}">Ver Mascota</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>