<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
</head>
<body>
  <header>
    <h1>Clientes</h1>
  </header>
  <main>
    <a type="button" th:href="@{/cliente/add}">Agregar Cliente</a>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Cedula</th>
          <th>Celular</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cliente: ${clientes}">
          <td><span th:text="${cliente.nombre}"></span></td>
          <td><span th:text="${cliente.correo}"></span></td>
          <td><span th:text="${cliente.cedula}"></span></td>
          <td><span th:text="${cliente.celular}"></span></td>
          <td>
            <a type="button" th:href="@{/cliente/mostrar-cliente/{id}(id=${cliente.id})}">Ver Cliente</a>
            <a type="button" th:href="@{/cliente/update/{id}(id=${cliente.id})}">Modificar</a>
            <a type="button" th:href="@{/cliente/delete/{id}(id=${cliente.id})}">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>

  </footer>
</body>
</html>