<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/sytle-servicio-habla-experto.css">
  <title>Habla con Experto</title>
</head>
<body>
  <header>
    <nav>
      <div class="ir-inicio">
        <a href="index.html">
          <img src="../images/logo-health-animals.png" alt="Logo Health Animals">
          Health<br>
          Animals
        </a>
      </div>
      <div class="ir-otras-paginas">
        <a href="sobre-nosotros.html">Sobre Nosotros</a>
        <a href="servicios.html">Servicios</a>
        <a href="contacto.html">Contáctanos</a>
      </div>
    </nav>
    <button type="button">Empezar</button>
  </header>
  <main>
    <section id="habla-con-experto">
      <h1>
        Habla con un experto.<br>
        Un Profesional de Salud Animal.
      </h1>
      <ul>
        <li>
          Asesoría y apoyo dedicados en todos los aspectos del cuidado
          de tu mascota de la mano de un Guía especializado.
        </li>
        <li>
          Sesiones 1 a 1 centradas en organizar la salud de tu mascota,
          mejorar su bienestar y hacer avances reales en su cuidado.
        </li>
        <li>
          Revisiones periódicas de progreso, consultas rápidas y
          mensajes en cualquier momento.
        </li>
        <li>
          Un plan claro para alcanzar los objetivos de salud de tu mascota
          con pasos simples que tu Guía te ayudará a implementar.
        </li>
      </ul>
      <button type="button">Empezar</button>
      <img src="../images/LandPage3_1.png" alt="LandPage 3-1">
    </section>
  </main>
  <footer>
    <div>
      <div class="logo">
        <img src="../images/logo-health-animals.png" alt="Logo Health Animals">
        <span>
          Health<br>
          Animals
        </span>
      </div>
      <section class="contacto">
        <span>Teléfono: 45634654564</span>
        <span>Correo: healthAnimals@healtAnimals.com</span>
        <span>Horario de atención: <a href="horario-atencion.html">click aqui</a></span>
      </section>
    </div>
    <section class="copyright">
      &copy;2025. Health Animals. Todos los derechos reservados.
    </section>
  </footer>
</body>
</html>