<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style-sobre-nosotros.css">
  <title>Nosotros</title>
</head>
<body>
  <header>
    <nav>
      <div class="ir-inicio">
        <a href="index.html">
          <img src="../images/logo-health-animals.png" alt="Logo Health Animals">
          Health<br>
          Animals
        </a>
      </div>
      <div class="ir-otras-paginas">
        <a href="sobre-nosotros.html">Sobre Nosotros</a>
        <a href="servicios.html">Servicios</a>
        <a href="contacto.html">Contáctanos</a>
      </div>
    </nav>
    <button type="button">Empezar</button>
  </header>
  <main>
    <img src="../images/LandPage4_1.png" alt="LandPage 4-1">
    <section id="sobre-nosotros">
      <h1>Sobre Nosotros</h1>
      <p>
        En nuestra veterinaria, nos apasiona el bienestar de cada mascota. Con un equipo de<br>
        profesionales dedicados y un enfoque basado en el amor y la ciencia, brindamos<br>
        atención médica de calidad para que tu compañero de vida esté siempre saludable y<br>
        feliz.
      </p>
      <article class="tarjeta">
        <h3>Cuidado Médico Especializado</h3>
        <p>
          Nuestros veterinarios brindan diagnósticos precisos y tratamientos personalizados.
          Desde chequeos hasta cirugías, cuidamos la salud de tu mascota en cada etapa.
        </p>
      </article>
      <article class="tarjeta">
        <h3>Un Espacio de Confianza y Cariño</h3>
        <p>
          Queremos que cada visita sea agradable. Creamos un ambiente tranquilo para que tu mascota
          se sienta segura y tú tengas la mejor experiencia.
        </p>
      </article>
      <article class="tarjeta">
        <h3>Instalaciones de Vanguardia</h3>
        <p>
          Contamos con tencnología avanzada y espacios diseñados para el confort y seguridad
          de tu mascota, garantizando el mejor tratamiento.
        </p>
      </article>
    </section>
  </main>
  <footer>
    <div>
      <div class="logo">
        <img src="../images/logo-health-animals.png" alt="Logo Health Animals">
        <span>
          Health<br>
          Animals
        </span>
      </div>
      <section class="contacto">
        <span>Teléfono: 45634654564</span>
        <span>Correo: healthAnimals@healtAnimals.com</span>
        <span>Horario de atención: <a href="horario-atencion.html">click aqui</a></span>
      </section>
    </div>
    <section class="copyright">
      &copy;2025. Health Animals. Todos los derechos reservados.
    </section>
  </footer>
</body>
</html>