<body>
<h1>Información estadística </h1>

<div class="kpi-container">
  <div class="kpi-card donut-card" id="seccion-veterinarios">
    <h3>Veterinarios</h3>
    <div class="semi-donut-container">
      <div class="semi-donut" [style.--percentage]="(numVeterinariosActivos / (numVeterinariosActivos + numVeterinariosInactivos)) * 100">
        <div class="percentage-text">
          {{ ((numVeterinariosActivos / (numVeterinariosActivos + numVeterinariosInactivos)) * 100).toFixed(0) }}%
        </div>
      </div>
    </div>
    <p class="stats">
      <span class="active">{{ numVeterinariosActivos }} Activos</span> / 
      <span class="inactive">{{ numVeterinariosInactivos }} Inactivos</span>
    </p>
  </div>

  <div class="kpi-card donut-card" id="seccion-mascotas">
    <h3>Mascotas</h3>
    <div class="semi-donut-container">
      <div class="semi-donut" [style.--percentage]="(numMascotasActivas / numMascotas) * 100">
        <div class="percentage-text">
          {{ ((numMascotasActivas / numMascotas) * 100).toFixed(0) }}%
        </div>
      </div>
    </div>
    <p class="stats">
      <span class="active">{{ numMascotasActivas }} Activas</span> / 
      <span class="inactive">{{ numMascotas - numMascotasActivas }} Inactivas</span>
    </p>
  </div>

  <div class="kpi-card finance-card" id="seccion-ventas">
    <div class="icon-container">
      <i class='bx bx-money-withdraw'></i>
    </div>
    <div class="content">
      <h3>Ventas Totales</h3>
      <p class="highlight">€ {{ ventasTotales | number:'1.2-2' }}</p>
    </div>
  </div>

  <div class="kpi-card finance-card" id="seccion-ganancias">
    <div class="icon-container profit">
      <i class='bx bx-money-withdraw'></i>
    </div>
    <div class="content">
      <h3>Ganancias Totales</h3>
      <p class="highlight">€ {{ gananciasTotales | number:'1.2-2' }}</p>
    </div>
  </div>

  <div class="kpi-card simple-card" id="seccion-tratamientos">
    <div class="icon-container treatment">
      <i class='bx bx-first-aid'></i>
    </div>
    <div class="content">
      <h3>Tratamientos Último Mes</h3>
      <p class="highlight">{{ numTratamientosUltimoMes }}</p>
    </div>
  </div>

  <div class="kpi-card top-card" id="seccion-top3-tratamientos">
    <div class="icon-container top">
      <i class='bx bx-first-aid'></i>
    </div>
    <div class="content">
      <h3>Top 3 Tratamientos</h3>
      <ul class="top-list">
        <li *ngFor="let t of top3Tratamientos; let i = index">
          <span class="rank">{{ i + 1 }}</span>
          <span class="treatment-name">{{ t.nombreTratamiento }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>