<body>
<div id="contenedor_info">
  <div class="image-container">
    <img id="img_login" src="https://github.com/ErickSalazar07/Web/blob/main/imagenes/imgs-utils/ChatGPT%20Image%2015%20abr%202025,%2016_09_10.png?raw=true">
  </div>

  <div class="login-container">
    <section class="campos-login">
      <img src="https://github.com/ErickSalazar07/Web/blob/main/imagenes/imgs-utils/logo.png?raw=true" alt="Logo Health Animals">
      <h1> Bienvenido</h1>
      <form method="post">
        <label for="username">Username</label>
        <input [(ngModel)]="usuario.username" type="text" id="username" placeholder="Ingrese username" required name="username">

        <label for="password">Password</label>
        <input [(ngModel)]="usuario.password" type="password" id="password" placeholder="Ingrese password" required name="password">

        <p *ngIf="msgError !== ''" class="error-message">{{msgError}}</p>

        <button type="submit" (click)="login()">Ingresar</button>
      </form>
    </section>
  </div>
</div>
</body> 

