/* Importar estilos generales y fuentes */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

body {
  font-family: "PP Neue Montreal", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  margin-left: 80px;

}

/* Header */
header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "PP Neue Montreal", serif;
    font-size: 30px;
    margin-top: 15px;
    text-align: left;
    justify-content: left;
    align-self: start;

}

/* Contenido principal */
main {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}
i {
  font-size: 17px;
  margin-right: 5px;
}

/* Información de cliente */
.informacion {
  display: flex;
  width: 100%;
}

.campos {
  flex: 1;
  padding-right: 20px;
}

.campos p {
  font-size: 17px;
  margin: 5px 0;
  color: #333;
  font-weight: 600;
}
.campos span {
  font-size: 16px;
  color: #555555;
  font-weight: 400;


}

/* Sección de mascotas */
#mascotas {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.mascotas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.mascotas li {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}

.mascotas li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mascotas li img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 3px solid white;
}

#datosAnimal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mascotas li p {
  font-size: 17px;
  color: #333;
  margin: 2px 0;
  font-weight: 600;
}

.mascotas li #raza {
  font-size: 15px;
  color: #4d4d4d;
  margin: 2px 0;
  font-weight: 400;

}

.mascotas li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #054f31;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.mascotas li a:hover {
  background-color: #006f3f;
}

/* Botón Volver */
.btn-volver {
  border: 1px solid #054f31;
  padding: 10px 30px;
  background-color: white;
  color: #054f31;
  font-size: 15px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;

}

.btn-volver:hover {
  background-color: #054f31;
  color: white;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #666;
}  


