<!-- dashboard.component.html (Angular) -->
<div class="logo-container">
    <img src="https://github.com/ErickSalazar07/Web/blob/main/imagenes/imgs-utils/logo.png?raw=true" alt="Logo" class="logo" />
  </div>
  
  <div class="dashboard">
    <!-- Sidebar fija -->
    <div class="sidebar">
  
      <div class="sidebar-icon" data-tooltip="Perfil"  [routerLink]="['mostrar-cliente', cliente.id]" 
      routerLinkActive="active" id="nombre-seccion">
        <i class='bx bxs-user'></i><div id="nombre-seccion"> Perfil</div>
      </div>
  
      <div class="sidebar-icon" data-tooltip="Cerrar Sesión" [routerLink]="['/']" id="logout">
        <i class="bx bx-log-in-circle"></i><div id="nombre-seccion">Cerrar Sesión</div>
      </div>
    </div>
  
    <!-- Contenedor donde se carga el contenido -->
    <div id="contenido" class="contenido">
      <router-outlet></router-outlet>
    </div>
  </div>
  
