<form method="post">
  <label for="nombre">Nombre</label>
  <input [(ngModel)]="cliente.nombre" name="nombre" type="text" id="nombre" placeholder="Ingrese nombre" required>
  <label for="correo">Correo</label>
  <input [(ngModel)]="cliente.correo" name="correo" type="email" id="correo" placeholder="Ingrese su correro" required>
  <ng-container *ngIf="mostrarCedula">
    <label for="cedula">Cedula</label>
    <input [(ngModel)]="cliente.cedula" name="cedula" type="number" id="cedula" placeholder="Ingrese su cedula" required>
  </ng-container>
  <label for="celular">Celular</label>
  <input [(ngModel)]="cliente.celular" name="celular" type="number" id="celular" placeholder="Ingrese su celular" required>
  <button class="btn" type="submit" (click)="submitFormulario()">Crear</button>
  <button onclick="window.history.back()">Volver </button>
</form>
