<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mascota/style-actualizar-mascota.css">
  <title>Actualizar Mascota</title>
</head>
<body>
  <header>
    <h1>Actualizar Mascota</h1>
  </header>
  <main>
    <form th:object="${mascota}" th:action="@{/mascota/update/{id}(id=${mascota.id})}" method="post">
      <label for="nombre">Nombre</label>
      <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingrese nombre" required>
      <label for="raza">Raza</label>
      <select th:field="*{raza}" id="raza">
        <option value="Perro">Perro</option>
        <option value="Gato">Gato</option>
      </select>
      <label for="edad">Edad</label>
      <input th:field="*{edad}" type="number" id="edad" placeholder="Ingrese edad" required>
      <label for="peso">Peso</label>
      <input th:field="*{peso}" type="number" id="peso" placeholder="Ingrese peso" required>
      <label for="enfermedad">Enfermedad</label>
      <input th:field="*{enfermedad}" type="text" id="enfermedad" placeholder="Ingrese enfermedad">
      <label for="foto">Foto</label>
      <input th:field="*{foto}" type="text" id="foto" placeholder="Ingrese URL foto">
      <label for="cedula-cliente">Cedula Dueño</label>
      <input th:field="*{cliente.cedula}" type="number" id="cedula-cliente" placeholder="Ingrese cedula del Dueño" required>
      <button type="submit">Actualizar</button>
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>