<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- URL para motor thymeleaf -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style-mostrar-mascota.css">
  <title>Mostrar Mascota</title>
</head>
<body>
  <header>
    <img src="/images/logo.png" alt="Logo Health Animals">
  </header>
  <main>
    <div class="informacion-container" th:object="${mascota}">
      <div class="campos">
        <p id="nombreAnimal"><span th:text="*{nombre}"></span></p>
        <p><span id="negrilla">Raza:</span> <span th:text="*{raza}"></span></p>
        <p><span id="negrilla">Edad: </span> <span th:text="*{edad}"></span></p>
        <p><span id="negrilla">Peso: </span> <span th:text="*{peso}"></span></p>
        <p><span id="negrilla">Enfermedad:</span> <span th:text="*{enfermedad} != null ? *{enfermedad} : 'Vacio'"></span></p>
        <p><span id="negrilla">Tratamientos: </span> <span th:if="*{tratamientos == null or tratamientos.isEmpty()}">No hay Tratamientos</span></p>
        <ul th:if="*{tratamientos != null and !tratamientos.isEmpty()}">
          <li th:each="tratamiento: *{tratamientos}">
            <span th:text="${tratamiento.nombreTratamiento}"></span>
          </li>
        </ul>
        <a class="btn btn-volver" th:href="@{/mascota/mascotas}">Volver</a>
      </div>
      <img th:src="*{foto}" th:alt="'Foto Mascota ' + *{nombre}">
    </div>
  </main>
</body>
</html>