<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- URL para motor thymeleaf -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style-mostrar-mascota.css">
  <title>Mostrar Mascota</title>
</head>
<body>
  <header>
    <h1>Informacion de la mascota: <span th:text="${mascota.nombre}"></span></h1>
  </header>
  <main>
    <a class="btn btn-volver" th:href="@{/mascota/mostrar-mascotas}">Volver</a>
    <div class="informacion-container" th:object="${mascota}">
      <div class="campos">
        <p>Nombre: <span th:text="*{nombre}"></span></p>
        <p>Raza: <span th:text="*{raza}"></span></p>
        <p>Edad: <span th:text="*{edad} + ' años'"></span></p>
        <p>Peso: <span th:text="*{peso} + ' kg'"></span></p>
        <p>Enfermedad: <span th:text="*{enfermedad} != null ? *{enfermedad} : 'Vacio(no tiene)'"></span></p>
        <p>Tratamientos: <span th:if="*{tratamientos == null or tratamientos.isEmpty()}">No hay Tratamientos</span></p>
        <ul th:if="*{tratamientos != null and !tratamientos.isEmpty()}">
          <li th:each="tratamiento: *{tratamientos}">
            <span th:text="${tratamiento.nombreTratamiento}"></span>
          </li>
        </ul>
      </div>
      <img th:src="*{foto}" th:alt="'Foto Mascota ' + *{nombre}">
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>