<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Mascotas</title>
</head>
<body>
  <header>
    <h1>Informacion de Animales</h1>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Raza</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Enfermedad</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </main>
  <footer></footer>
</body>
</html>