<h1>Información Dueño</h1>
<button class="btn btn-volver" onclick="window.history.back()"><i class='bx bx-arrow-back'></i>Volver</button>
<main>
  <section class="informacion">
    <div class="campos">
      <p>Nombre:</p>
      <p><span>{{cliente.nombre}}</span></p>
      <p>Correo:</p>
      <p><span>{{cliente.correo}}</span></p>
      <p>Cédula:</p>
      <p><span>{{cliente.cedula}}</span></p>
      <p>Celular:</p>
      <p><span>{{cliente.celular}}</span></p>
    </div>
    <!-- <div id="mascotas">
      <p><span *ngIf="mascotas == null">No tiene mascotas</span></p>
      <ul *ngIf="mascotas != null" class="mascotas">
        <li *ngFor="let mascota: mascotas">
          <img th:src="@{${mascota.foto}}" alt="Imagen de mascota" />
          <div id="datosAnimal">
            <p th:text="${mascota.nombre}"></p>
            <p id="raza" th:text="${mascota.raza}"></p>
          </div>
          <a id="boton-ver-mascota" th:href="@{/mascota/mostrar-mascota/{id}(id=${mascota.id})}">Ver Mascota</a>
        </li>
      </ul>
    </div> -->
  </section>
</main>
<footer>
</footer>